security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:         [ROLE_USER]
        ROLE_SUPER_ADMIN:   ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        main:
            pattern: /.*
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout: true
            security: true
            anonymous: true

    access_control:
        - { path: /cms.*,       role: ROLE_SUPER_ADMIN }
        - { path: /projects.*, role: IS_AUTHENTICATED_FULLY }
        - { path: /.*,          role: IS_AUTHENTICATED_ANONYMOUSLY }