{% extends 'ItBlasterMainBundle::layout.html.twig' %}

{% block content %}
    <div class="well">
        {% if(app.user) %}
            Просмотреть статусы ваших сайтов вы можете в разделе <a href="{{ path('projects') }}">Проекты</a>.
        {% else %}
            Для того, чтобы добавить сайты на проверку, необходимо <a href="{{ path('fos_user_security_login') }}">авторизоваться</a>.
        {% endif %}
    </div>
{% endblock content %}